:root {
	--mainColor: #fff;
	--secondaryColor: #eaeaea;

	--borderColor: #c1c1c1;

	--mainText: #000;
	--secondaryText: #4b5156;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
	margin: 0;
}
ul,
a {
	text-decoration: none;
	list-style: none;
}

p,
li,
span,
label,
input,
textarea {
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

em {
	color: red;
	font-style: normal;
}
.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.navbar_section {
	top: 0;
	background-color: black;
	border-bottom: 1px solid var(--borderColor);
	width: 100vw;
	margin: 0 auto;
	position: fixed;
	overflow: auto;
	z-index: 1;
}

.footer {
	background-color: #000;
	overflow: auto;
}

.main__container {
	width: 1200px;
	margin: 0 auto;
}

.header__container {
	padding-bottom: 50px;
	padding-top: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'left_column_header right_column_header';
}

.right_column_header {
	display: grid;

	grid-area: right_column_header;
	align-content: center;
	justify-content: start;
}

.left_column_header {
	display: flex;

	grid-area: left_column_header;
	align-items: center;
	justify-content: end;
}

#pfp_header {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.job-title {
	border: 1px solid var(--borderColor);
	width: 300px;
	background-color: red;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* Navbar */
.navbar-list {
	display: flex;
}
.navbar-items a {
	padding: 10px;
	color: #fff;
	margin: 0 5px;
}
.navbar-items a:hover {
	color: red;
}
/* About Me section */
.about__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap: 100px;
}
.languages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}
#Skills-text {
	display: block;
	margin-bottom: 10px;
	color: red;
}
.card_lang {
	display: flex;
	flex-wrap: wrap;
	width: 90px;
	height: 90px;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	transition: transform 0.3s ease-in;
}

.card_img {
	width: 60px;
}
.card_lang:hover {
	transform: translateY(-20px);
}

/* Portfolio */
.portfolio__container {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}

.portfolio_cards_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.port_card_img {
	width: 300px;
	height: 150px;
	margin-bottom: 10px;
}

.port_card_title {
	color: var(--mainText);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.port_card_title:hover {
	color: var(--secondaryText);
}

.portfolio_cards {
	margin: 20px;
	padding: 10px;
	height: 300px;
	width: 300px;
	border-radius: 20px;
	justify-content: center;
	-webkit-box-shadow: -1px 1px 3px 0px rgba(94, 94, 94, 0.75);
	-moz-box-shadow: -1px 1px 3px 0px rgba(94, 94, 94, 0.75);
	box-shadow: -1px 1px 3px 0px rgba(94, 94, 94, 0.75);
}

/* Contact */

.contact__container {
	padding-bottom: 50px;
	padding-top: 50px;
}

#contact_form {
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 30px;
	border-radius: 15px;
	background-color: var(--mainColor);
}

#contact_form label {
	line-height: 3em;
	color: var(--mainText);
}

#contact_form textarea {
	min-height: 100px;
}

.submit_btn {
	color: #000;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Russo One', sans-serif;
	background-color: var(--secondaryColor);
	border: none;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-right: 5px;
	padding: 5px;
	width: 102%;
}
.submit_btn:hover {
	background-color: #000;
	color: #fff;
}

.contact_field {
	margin-top: 5px;
	margin-bottom: 20px;
	margin-right: 5px;
	padding: 5px;
	width: 100%;
}
/* footer */

.footer__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_link_list {
	display: flex;
}

.footer_links {
	padding: 20px;
	color: #fff;
}

@media screen and (max-width: 1200px) {
	.main__container {
		width: 95%;
	}
}
